<a href="https://colab.research.google.com/github/mbuguajackson/Data-Science-with-Python/blob/main/crimes_in_los_angeles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [40]:
#read csv data
from google.colab import drive
drive.mount('/content/gdrive')

data=pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Data Science/crimes.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [42]:
# Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.
peak_crime_hour = data['TIME OCC'].value_counts().idxmax()
peak_crime_hour

np.int64(1200)

In [49]:
# Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.
peak_night_crime_location = data[(data['TIME OCC'] >= 2200) | (data['TIME OCC'] <= 359)]['AREA NAME'].value_counts().idxmax()
peak_night_crime_location

'Central'

In [54]:
# Identify the number of crimes committed against victims of different age groups.
# Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

#define age bins
age_bins = [0,17,25,34,44,54,64,float('inf')]
age_labels = ['0-17','18-25','26-34','35-44','45-54','55-64','65+']

#cut the ages into groups
data['AGE GROUP'] = pd.cut(data['Vict Age'], bins=age_bins, labels=age_labels, right=True)

#Count crimes per age group
victim_ages = data['AGE GROUP'].value_counts().sort_index()
victim_ages

AGE GROUP
0-17      4528
18-25    28291
26-34    47470
35-44    42157
45-54    28353
55-64    20169
65+      14747
Name: count, dtype: int64